{% extends 'partials/layout.njk' %}

{% block title %}View Post{% endblock %}

{% block content %}
    <div class="post-container">
        <h1><strong>ID:</strong></h1> <p>{{ post.id }}<p>
        <hr>
        <h2><strong>Title:</strong></h2> <p>{{ post.title }}<p>
        <hr>
        <h3><strong>Content:</strong></h3> <p>{{ post.body }}<p>
        <hr>
        <p><strong>Created At:</strong> {{ post.createdAt }}<p>
        <hr>
        <p><strong>Updated At:</strong> {{ post.updatedAt }}</p>
        <hr>
        <a class="btn btn-primary" href="/posts">Back</a>
    </div>
{% endblock %}
